body {
    background-color: #98b8f8;
    margin-top: auto;
}

h1 {
    background-color: #98b8f8;
    color: rgb(255, 255, 255);
    padding: 10px 20px 10px;
    align-items: center;
    width: 96%;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.fieldset {
    border: 2px solid #98b8f8;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #bbcff9;
    border-radius: 4px;
    width: 95%;
    box-sizing: border-box;
    margin: 10px auto;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    background-color: #4caf50;
    color: azure;
    padding: 12px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    color: #45a049;
}

